################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
/out/*
/.qtcreator/*
.clangd/compile_commands.json
adam-config.bin