################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
/out/*
/build/*
/.qtcreator/*
.clangd/*
*.pdf
*.adamguicfg
*.adamcopcfg
android/app/src/main/jniLibs/arm64-v8a/libadam-core.so
android/app/src/main/jniLibs/arm64-v8a/libadam-gui.so
android/app/src/main/jniLibs/arm64-v8a/libadam-module-asterix.so
android/app/src/main/jniLibs/arm64-v8a/libadam-module-can.so
android/app/src/main/jniLibs/arm64-v8a/libadam-module-network.so
android/app/src/main/jniLibs/arm64-v8a/libadam-module-recrep.so
android/app/src/main/jniLibs/arm64-v8a/libadam-module-serial.so
android/app/src/main/jniLibs/arm64-v8a/libSDL3.so
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/*.iml
android/app/*.iml
android/local.properties
